/* CSS CON BUENAS PRACTICAS  */

/* Establecer condiciones iniciales */

/* 1. Importaciones - de tipografia */

/* 2 definir las variables de los colores/tamaños  */
@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --color-fondo:#F4E9CD;
    --color-texto: #031926 ;
    --color-enfasis:#458189;
    --color-enfasis2:#78ABA4;
    --tamano-titulo:30px;
}
/* Selector universal */
*{
    margin: 0%;
    width: 500px;;
}
body {
    
    background-color:var(--color-fondo);
    font-family: 'Poppins', sans-serif ;     
    color:var(--color-texto);    
    /* Quitar scroll*/
    overflow-x: hidden;
}

h2 {
    font-size:var(--tamano-titulo);
}
/* ------------------------------------------------ */


/* ---------------------HEADER--------------------- */
header{
    /* Definir ancho del header */
    width:100vw; 
    /* viewport width ancho de pantalla */
    /* altura */
    height: 10vh; 
    /*viewport height altura de pantalla */
    background-color:var(--color-enfasis);
}

nav{
    /* Como se muestran los elementos */
    display: flex ;
    justify-content: center;/*centrar en x*/
    align-items: center; /*centrar en y */
    gap: 50px; /*definir espacios*/

}

    
.lista{
    display:flex;
    gap: 30px;
}
.logo{
    width: 50px;
    height: 50px;
}




/* ----------------------MAIN---------------------- */






/*----------------------FOOTER--------------------- */