/* Esto es un comentario */
/* Cascading style sheet*/
/* Especificidad */
/* Regla de estilo */
/* 
1. Etiquetas -> menos eficiente
2. Especificidad media -> 
 */
body {
    background-color: rgb(245, 222, 178);

}

h1 {
    /* Alinear texto */
    text-align: center;
    /* Color del texto  */
    color: brown;
}

.parrafo-1 {
   background-color: aquamarine;
    font-size: 20px;
}

.parrafoLargo {
    background-color: rgb(224, 220, 225);
    font-size: 22px;
}
/* id-> Se utilicen js -> asociaciones entre elementos */
#Titulo {
    font-size: 20px;
    background-color: rgb(145, 110, 59);
}